body 
{
    /*font-family: 'lucida grande' ,tahoma,verdana,arial,sans-serif;
    background-color: #e9e9e9;*/
}
#Wrapper
{
    /*width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;*/  
}
#Header 
{
    /*height: 200px;
    border: 3px solid #E3E3E3;*/
}
#NavigationBar 
{
     /*height: 60px;
    border: 3px solid #E3E3E3;
    margin-top: 20px;
    text-shadow: 0.1em 0.1em #333;*/
}
#Nav 
{
    /*list-style: none;*/
}

#Nav ul
{
    /*list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    display: none;*/
}

#Nav li
{
    /*font-size: 24px;
    float: left;
    position: relative;
    width: 180px;
    height: 50px;*/
}

#Nav li ul li
{
<<<<<<< HEAD
   background-color:black;
    border: 3px solid black;
    padding-left: 10px;
=======
   
    /*border: 3px solid black;
    padding-left: 10px;*/
>>>>>>> origin/master
}

#Nav li ul li ul li
{
   background-color:black;
    border: 3px solid black;
    padding-left: 10px;
    display: block;
    /*color:black;*/
}

#Nav a:link, #Nav a:active, #Nav a:visited
{
<<<<<<< HEAD
    display: block;
    color:white;
    text-decoration: none;
=======
    /*display: block;
    color:#fff;
    text-decoration: none;*/
>>>>>>> origin/master
}

#Nav a:hover
{
<<<<<<< HEAD
    color: #dedede;
=======
    /*color: #E3E3E3;*/
>>>>>>> origin/master
}


#Conetent_Area 
{
    /*height: 100px;
    width: 750px;
    margin: 20px 0 20px 0;
    padding: 10px;*/
}
#Footer 
{
    /*clear: both;
    width: auto;
    height: 5px;
    padding: 10px;
    border: 3px solid #E3E3E3;
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;*/
}
#divfix 
{
    bottom:0;
    right:0;
    position:static;
    z-index:3000;
}

