<images>
  <image>
    <path>\Prints\AW16 1.jpeg</path>
    <shoplink>google.ca</shoplink>
    <name>null</name>
  </image>

  <image>
    <path>\Prints\AW16 2.jpeg</path>
    <shoplink>google.ca</shoplink>
    <name>null</name>
  </image>

  <image>
    <path>\Prints\AW16 3.jpeg</path>
    <shoplink>google.ca</shoplink>
    <name>null</name>
  </image>

  <image>
    <path>\Prints\AW16 4.jpeg</path>
    <shoplink>google.ca</shoplink>
    <name>null</name>
  </image>

  <image>
    <path>\Prints\AW16 5.jpeg</path>
    <shoplink>google.ca</shoplink>
    <name>null</name>
  </image>

  <image>
    <path>\Prints\AW16 6.jpeg</path>
    <shoplink>google.ca</shoplink>
    <name>null</name>
  </image>

  <image>
    <path>\Prints\AW16 7.jpeg</path>
    <shoplink>google.ca</shoplink>
    <name>null</name>
  </image>

  <image>
    <path>\Prints\AW16 8.jpeg</path>
    <shoplink>google.ca</shoplink>
    <name>null</name>
  </image>
</images>